@import 'config';

#exp-history {
  // display: flex;
  // flex-direction: column;

  #exp1, 
  #exp2, 
  #exp3, 
  #exp4, 
  #exp5 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    // grid-gap: 50px;

    // div:first-child {
    //   width: 80%;
    // }
  }

  div {
    padding: 1rem;
  }

  h2 {
    font-size: 1.2rem;
    span {
      background: $light-bg-color;
    }
  }

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  ul {
    list-style: none;
  
    li::before {
      content: "\002B"; 
    }
  }
}